$colors: (
    app-black: #101010,
    app-bright-black: #232323,
    app-gray: #868686,
    app-ghost: #F3F3F3,
    app-white: #fff,
    app-green: #9EFFBF,
    app-purple: #7941A7,
    app-pink: #E2BEFF,
    app-blue: #1059C8
)